services:
  db:
    image: techmaps-db-image
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    deploy:
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    image: techmaps-app-image
    depends_on:
      - db
    environment:
      SECRET_KEY_FILE: /run/secrets/secret_key
      UPLOAD_DIR: /app/uploads
      FIREBASE_CONFIG_PATH: /app/config/firebase-service-account.json
      FIREBASE_BUCKET_NAME: ${FIREBASE_BUCKET_NAME}
    secrets:
      - secret_key
    ports:
      - "8757:8757"
    volumes:
      - /mnt/data/uploads:/app/uploads
      - ./firebase-service-account.json:/app/config/firebase-service-account.json

  dozzle:
    image: amir20/dozzle:latest@sha256:2d59d09503f2c947133a4f231fdeb1f4c99e23aa0d4137f81bb1a6318e0e06cf
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8888:8080"
    environment:
      DOZZLE_BASE: /dozzle

secrets:
  secret_key:
    external: true

volumes:
  pgdata:

networks:
  default:
    driver: overlay