name: Deploy Integrity Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  verify-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run Make Deploy
        run: make deploy
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
